body {
    margin: 0;
    background: #1B244A;
}
#header {
    color: #F94F6D;
    text-align: center;
    margin-top: 10%;
}

#container {
    display: flex;
    justify-content: space-around;
    
}
h1 {
    color:#EEEEEE;
    Font-family: Verdana;
    Font-style: Bold;
    Font-size: 40px;
    Line-height: 35.89px;
    align-items: Center;
    Vertical-align: Top;
}

.container-centre {
    text-align: center;
}
@font-face {
    src: url("CursedTimerUlil-Aznm.ttf");
    font-family: CursedTimerUlil-Aznm;
}

.num-col {
    font-size: 90px;
    width: 155px;
    height: 120px;
    padding: 20px 0 0 0;
    text-align: center;
    font-family: 'CursedTimerULiL-Aznm', sans-serif;
    background: black;
    color: #F94F6D;
    border: 5px solid black;
    border-radius: 5px;
    letter-spacing: 0em;
    
}
.point-btn {
    width: 45px;
    height: 45px;
    font-family: 'CursedTimerULiL-Aznm', sans-serif;
    margin: 20px 5px;
    padding:10px 10px;
    background: #1B244A;
    color: #9AABD8;
    border: 2px solid#9AABD8;
    border-radius: 5px; 
    
}
 
.point-btn:hover {
    background: white;
}

#newgame {
    display: flex;
    margin: 10px auto 0 auto;
    padding: 12px 10px;
    border: none;
    border-radius:5px;
    background: black;
    color: #F94F6D;;

}